.message-info {
  position: absolute;
  right: 0;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
}

.info_success {
  border-color: #3ed722;
}

.info-warning {
  border-color: #d72222;
}

.message-info img {
  width: 50px;
}

.progress {
  width: 100%;
  height: 10px;
}

.progress-wrap {
  background: #f80;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}

.progress-wrap .progress-bar {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
}

.waiting-block {
  opacity: 0;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}