.sex-choose input {
    visibility: hidden;
}

.sex-choose {
    min-height: 490px;
}

.sex .input-hidden {
    position: absolute;
    left: -9999px;
}

.sex input[type=radio]:checked.men + label > img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #639fe8;
}

.sex input[type=radio]:checked.women + label > img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #f38cd8;
}

/* Stuff after this is only to make things more pretty */
.sex input[type=radio] + label > img {
    border: 1px dashed #444;
    width: 75px;
    height: 75px;
    transition: 500ms all;
}

.sex input[type=radio]:checked + label > img {
    transform: rotateZ(-10deg) rotateX(10deg);
}

.boys, .girls {
    position: absolute;
    opacity: 0;
}

.boys {
    left: 0;
    top: 0;
}

.girls {
    right: 0;
    top: 0;
}

.persons .boys input[type=radio] + label > img {
    width: 170px;
    height: 360px;
    transition: 500ms all;
}

.persons .girls input[type=radio] + label > img {
    height: 400px;
    transition: 500ms all;
}

.persons .boys input[type=radio]:checked + label > img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #639fe8;
}

.persons .girls input[type=radio]:checked + label > img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #f38cd8;
}

.choose-button {
    display: none;
}

.location {
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 620px;
    min-height: 600px;
}

.pokemon-choose {
    width: 400px;
    background: white;
    padding: 10px 0;
    border-radius: 20px;
    margin: 0 auto;
}

.pokemon-choose div {
    height: 68px;
    width: 90px;
    display: inline-block;
    cursor: pointer
}

.pokemon-block {
    display: none;
    text-align: center;
    position: absolute;
    top: 82%;
    width: 100%;
}


/*menu*/
.menu img {
    width: auto;
    height: 80px;
}

.menu {
    position: fixed;
    bottom: 21%;
    left: 32%;
    width: 36%;
    padding: 20px 50px;
    margin: 0 auto;
    border: dashed 2px black;
    text-align: center;
    background: white;
    display: block !important;

}

.menu .active {
    border: none;
}

.menu div {
    display: inline-block !important;
    cursor: pointer;
}


.bottom-content {
    background: antiquewhite;
    min-height: 28%;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid black;
}

.bottom-content div {
    margin-top: 3%;
    background: white;

}

.wild-pokemons {
    position: absolute;
    top: 0;
    margin: 1%;
}

#pokeball-tab .pokemon {
    border: 4px solid #b7703e;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

#pokeball-tab .pokemon:hover .pokemon-info {
    display: block;
}

.pokemon-info {
    display: none;
    background: white;
    padding: 10px;
    position: absolute;
    top: -300%;
    left: 102%;
    list-style: none;
    z-index: 2;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.pokemon .pokemon-health{
    border: 2px solid #5cb12d;
    border-radius: 5px;
    width: 80%;
    display: block;
    top: 5px;
    position: absolute;
}



.action {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.action button {
    width: 80%;
    font-size: x-small;
    margin-bottom: 7px;
}



.heal-btn {
    position: absolute;
    right: 40%;
    top: 40%;
}













