
.bag .thing {
    width: 40px;
    height: 40px;
    background: #d0e1e2 !important;
    position: relative;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

.bag .thing .count {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: x-small;
    background: white;
}

.bag .thing img {
    width: 100%;
}

.thing {
    position: relative;
    background: #f0f5f9 !important;
    display: inline-block;
    cursor:pointer;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px;
}

.thing img {
    width: 40px;
}

.thing .count {
    font-size: xx-small;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
}