.ouk {
    background: url(../img/character/ouk.png) no-repeat;
    background-size: contain;
    height: 420px;
    width: 200px;
    position: absolute;
    right: 20%;
    top: 25%;
}

.sister_joy {
    background: url(../img/character/sister_joy.png) no-repeat;
    background-size: contain;
    height: 420px;
    width: 200px;
    position: absolute;
    right: 20%;
    top: 25%;
}

.player {
    height: 318px;
    width: 144px;
    position: absolute;
    left: 20%;
    top: 25%;
}









