
.dialog-text-left {
    padding: 10px;
    background: white;
    border: solid 1px black;
    border-radius: 4px;
    position: absolute;
    left: 5px;
    top: 11px;
}

.dialog-text-right {
    padding: 10px;
    background: white;
    border: solid 1px black;
    border-radius: 4px;
    position: absolute;
    left: 48px;
    top: 20px;
}

.message-orange {
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #f8e896;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
    right: 82px;
}

.message-content {
    padding: 0;
    margin: 0;
}

.message-orange:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}

.message-orange:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 17px solid #dfd087;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
}

.sister_joy .message-orange {
    right: 116px;
    top: -7px;
    height: 70px;
}










