
.fight-area div {
  position: relative;
  display: inline-block;
}

.fight-area .player-in-fight {
  height: 250px;
  transform: scale(-1, 1);
  width: 111px;
  margin-left: 6%;
}

.fight-area .pokemon-in-fight {
  height: 65px;
  transform: scale(-1, 1);
  width: 65px;
  margin-left: 7%;
}

.fight-area .pokemon-op-in-fight {
  height: 65px;
  width: 65px;
  margin-left: 42%;
}

.fight-area .oponent-in-fight {
  height: 250px;
  width: 111px;
  margin-left: 7%;
}

.fight-area label span {
  font-size: x-small;
}

.pokemon-health {
  border: 2px solid #5cb12d;
  border-radius: 5px;
  width: 80%;
  height: 1px;
  display: block;
  top: -14px;
  position: relative;
}