
/*menu*/
.menu img {
    width: auto;
    height: 80px;
}

.menu {
    position: fixed;
    bottom: 21%;
    left: 32%;
    width: 36%;
    padding: 20px 50px;
    margin: 0 auto;
    border: dashed 2px black;
    text-align: center;
    background: white;
    display: block !important;

}

.menu .active {
    border: none;
}

.menu div {
    display: inline-block !important;
    cursor: pointer;
}


.bottom-content {
    background: antiquewhite;
    min-height: 28%;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid black;
}

.bottom-content div {
    margin-top: 3%;
    background: white;

}

#pokeball-tab .pokemon {
    border: 4px solid #b7703e;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

#pokeball-tab .pokemon:hover .pokemon-info {
    display: block;
}

.pokemon-info {
    display: none;
    background: white;
    padding: 10px;
    position: absolute;
    top: -300%;
    left: 102%;
    list-style: none;
    z-index: 2;
}














